h2{
    margin:0mm;
    padding:30px;
    color:rgb(44, 44, 102);
    font-style:italic;
}
.footer_info{
    margin: 10px;
    width: 35%;
}
.div_social{
    margin-right: 0;
}
.social_networks{
    display: flex;

}
.social_networks img{
    width: 25px;
    height: 25px;
}
ul{
    list-style-type: none;
}