*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    /*font-size: 30px;*/
    box-sizing: border-box;
}
body{
    /*background: snow;*/
    justify-content: center;
}
header{
    display: flex;
}
.head{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
}
.logo{
    cursor: pointer;
    position: relative;
    height: 100px;
    width: 100px;
    display: block;
}
img{
    height: 100px;
    width: 100px;
}
.name{
    position: relative;
    right: 0px;
    height: 100px;
    width: 100%;
    line-height: 100px;
    text-align: center;
    display: block;
    font-size: 30px;
}

.add{
    height: 50px;
    width: 100%;
    border: 1px; color: green;
    background: wheat;
}
.addUser{
    height: 50px;
    width: 25%;
    background: #a52a2a47;
    float: left;
}
.allPersons {
    height: 50px;
    width: 25%;
    background: #a52a2a47;
    float: left;
}
.addBook{
    height: 50px;
    width: 25%;
    background: #a52a2a47;
    float: left;
}
.allBooks{
    height: 50px;
    width: 25%;
    background: #a52a2a47;
    float: right;
}
.search{
    background: red;
    width: 150px;
    height: 80%;
}